.form {
    padding: var(--big-padding);
    border-radius: var(--medium-border);
    box-shadow: var(--average-shadow);

    &__title {
        margin: 0;
        margin-bottom: var(--big-margin);
    }

    .textarea {
        margin-bottom: var(--small-margin);
    }
}