.form {
    padding: var(--big-padding);
    border-radius: var(--big-border);
    box-shadow: var(--big-shadow);

    &__title {
        margin: 0;
        margin-bottom: var(--big-margin);
    }

    .textarea {
        margin-bottom: var(--small-margin);
    }

    .button {
        width: 100%;
        padding: var(--big-padding) var(--small-padding);
    }
}