.list-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    border-radius: var(--medium-border);
    padding: var(--big-padding);
    box-shadow: var(--average-shadow);
    
    & + & {
        margin-top: var(--big-margin);
    }

    &__status {
        flex-shrink: 0;
    }

    &__body {
        flex-grow: 1;
        padding-inline-end: var(--small-padding);
    }

    &__text {
        margin: 0;
    }

    &__tollbar {
        flex-basis: 46px;
        flex-shrink: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
    }
}