.list-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: var(--medium-border);
    padding: var(--small-padding);

    box-shadow: var(--weak-shadow)d;
    
    & + & {
        margin-top: var(--big-margin);
    }

    &__status {
        flex-shrink: 0;
        align-self: center;
        margin-inline-end: var(--small-margin);
    }

    &__body {
        flex-grow: 1;
        padding-inline-end: var(--small-padding);
    }

    &__text {
        margin: 0;
    }

    &__tollbar {
        flex-basis: 60px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
    }
}