* {
  box-sizing: border-box;
}

:root {
  /* padding */
  --small-padding: 10px;
  --big-padding: 20px;

  /* margin */
  --small-margin: 10px;
  --big-margin: 20px;

  /* border */
  --main-border: 5px;
  --medium-border: 10px;
}

body {
  background-color: var(--background-color);
  color: var(--secondary-color);

  &[data-theme='dark'] {
    /* primary */
    --primary-color-h: 0;
    --primary-color-s: 0%;
    --primary-color-l: 0%;

    /* secondary */
    --secondary-color-h: 0;
    --secondary-color-s: 0%;
    --secondary-color-l: 70%;
  }

  &[data-theme='light'] {
    /* primary */
    --primary-color-h: 0;
    --primary-color-s: 0%;
    --primary-color-l: 70%;

    /* secondary */
    --secondary-color-h: 0;
    --secondary-color-s: 0%;
    --secondary-color-l: 0%;
  }

  --primary-color: hsl(
    var(--primary-color-h),
    var(--primary-color-s),
    var(--primary-color-l)
  );

  --secondary-color: hsl(
    var(--secondary-color-h),
    var(--secondary-color-s),
    var(--secondary-color-l)
  );

  --background-color: hsl(
    var(--primary-color-h),
    var(--primary-color-s),
    calc(var(--primary-color-l) + 15%)
  );
  --shadow-primary-color: var(--primary-color);
  --shadow-secondary-color: hsl(
    var(--primary-color-h),
    var(--primary-color-s),
    calc(var(--primary-color-l) + 20%)
  );

  /* shadow */
  --weak-shadow: -2px 2px 3px var(--shadow-primary-color),
                  2px -2px 3px var(--shadow-secondary-color);
  --weak-inset-shadow: inset -2px 2px 3px var(--shadow-primary-color),
                       inset 2px -2px 3px var(--shadow-secondary-color);

  --average-shadow: -4px 4px 5px var(--shadow-primary-color),
                  4px -4px 5px var(--shadow-secondary-color);
  --average-inset-shadow: inset -4px 4px 5px var(--shadow-primary-color),
                       inset 4px -4px 5px var(--shadow-secondary-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}