* {
  box-sizing: border-box;
}

:root {
  /* padding */
  --tiny-padding: 5px;
  --small-padding: 10px;
  --big-padding: 20px;

  /* margin */
  --small-margin: 10px;
  --big-margin: 20px;

  /* border */
  --main-border: 5px;
  --medium-border: 10px;
  --big-border: 20px;

  /* color */

  --primary-color: #000;
  --secondary-color: #f3f3f3;
  
  --background-color: #252525;
  --white-color: #c3c3c3;
  --shadow-primary-color: #000;
  --shadow-secondary-color: #343434;

  /* shadow */

  --weak-shadow: -2px 2px 3px var(--shadow-primary-color),
                  2px -2px 3px var(--shadow-secondary-color);
  --weak-inset-shadow: inset -2px 2px 3px var(--shadow-primary-color),
                       inset 2px -2px 3px var(--shadow-secondary-color);

  --average-shadow: -4px 4px 5px var(--shadow-primary-color),
                  4px -4px 5px var(--shadow-secondary-color);
  --average-inset-shadow: inset -4px 4px 5px var(--shadow-primary-color),
                       inset 4px -4px 5px var(--shadow-secondary-color);

  --big-shadow: 26px 26px 52px var(--white-color),
               -26px -26px 52px var(--shadow-primary-color);
}

body {
  background-color: var(--background-color);
}