.button {
    padding: var(--small-padding);
    border: none;
    border-radius: var(--big-border);
    font-size: 16px;
    background-color: var(--background-color);
    box-shadow: var(--weak-shadow);
    transition: background-color 0.4s;

    &:hover,
    &:focus {
        background-color: #d1d1d1;
    }

    &--image {
        border-radius: 50%;
    }
}