.button {
    text-align: center;
    color: var(--secondary-color);
    background: linear-gradient(
        225deg, 
        var(--shadow-secondary-color), 
        var(--shadow-primary-color)
    );
    background-size: 100% 100%;
    border: none;
    box-shadow: var(--weak-shadow);
    transition: background .5s ease-in;
    cursor: pointer;

    &:hover {
        background-size: 200% 200%;
    }

    &--primary {
        width: 100%;
        border-radius: var(--main-border);
        padding: var(--big-padding) var(--small-padding);
    }

    &--icon {
        display: block;
        width: 46px;
        height: 46px;
        line-height: 46px;
        padding: var(--small-padding);
        border-radius: var(--medium-border)
    }
}