.button {
    padding: 10px 10px;
    border: none;
    border-radius: 50%;
    background-color: #e0e0e0;
    box-shadow: 4px 4px 8px #bebebe,
                -4px -4px 8px #fff;

    transition: background-color 0.4s;

    &:hover,
    &:focus {
        background-color: #d1d1d1;
    }

    &__image {
        display: block;
    }
}